.alignment {
	width:40px;
	height: 40px;
	fill: $fill-gray;
	border: 1px solid $fill-gray;
	border-radius:2px;
	margin-right: $space-1;
	
	&.active {
	border: 1px solid $fill-blue;
	border-radius:2px;
	fill: $fill-blue;
	}
	
	&:hover {
	cursor: pointer;
	fill: $fill-blue;
	border: 1px solid $fill-blue;
	transition: ease-in-out .25s;
	}
}



.alignment-2 {
	width: 40px;
	height: 40px;
	border: 1px solid $fill-gray;
	border-radius: $border-radius;
	
	&:hover {
		border:1px solid $fill-blue;
		cursor: pointer;
		path {
			fill: $fill-blue;
			transition: ease-in-out .15s;
			}
		}

	&:active {
		border:1px solid $fill-blue;
		fill: $fill-blue;

		}
}

.images-flyout {
	width: 395px;
}

.pullquote-flyout {
	width: 625px;
}


.c1 {
 	background: #9D0F02;
 	:active{
 		border:1px solid $text-gray-lightest ;
 	}
}
.c2 {
	background:#EE3322;
}

.c3{
	background: #996699;
}
.c4{
	background: #004F9E;
}
.c5{
	background: #336666;
}
.c6{
	background: #336633;
}
